{% extends 'base.html' %}
{% load static %}

{% block title %}
    Mikael Alvian Rizky
{% endblock %}

{% block content %}
<!-- ======= Header ======= -->
<header id="header" class="d-flex align-items-center">
  <div class="container d-flex align-items-center justify-content-between">

    <h1 class="logo"><a href="javascript:void(0)">Mikael</a></h1>

    <!-- Navbar -->
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
        <li><a class="nav-link scrollto" href="#about">About</a></li>
        <!-- <li><a class="nav-link scrollto" href="#services">Services</a></li> -->
        <li><a class="nav-link scrollto " href="#portfolio">Portfolio</a></li>
        <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

  </div>
</header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="500">
      <h1>Welcome to my Portfolio</h1>
      <!-- <h2>I'm Information System student at Universitas Indonesia</h2> -->
      <br>
      <a href="#about" class="btn-get-started scrollto">Let's Take a look</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'assets/img/Myphoto.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content" data-aos="fade-right">
            <h3>Hi, I'm Mikael. Nice to meet you</h3>
            <p class="fst-italic">
              I'm an Information System student at Universitas Indonesia. I enjoy learning new things. 
              I'm also a teaching assistant at my campus. 
              Lately, I have been working on a Machine Learning project. However, likewise, I have several experiences in Back-End Development.
            </p>

            <p>
              Licenses and Certifications:
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <a href="https://www.udemy.com/certificate/UC-1399ae3c-98f2-441c-ba6a-b882245ff174/">Python for Machine Learning & Data Science (Udemy) — January 2022</a> </li>
              <li><i class="bi bi-check-circle"></i>  <a href="https://www.udemy.com/certificate/UC-3aaa178d-7e5b-40d9-ad7d-ddd0743caee7/">Data Structures and Algorithms Using Java (Udemy) — July 2022</a> </li>
              <li><i class="bi bi-check-circle"></i>  <a href="https://www.hackerrank.com/certificates/e713ba045584">Problem Solver (HackerRank) — May 2021</a> </li>
              <li><i class="bi bi-check-circle"></i>  <a href="https://drive.google.com/file/d/1bG6U0W_mjF2UonvCJv2R5r9w186_AXFm/view?usp=sharing">Social Media Content Writer (Narabahasa) — August 2020</a> </li>
            </ul>

            <!-- <p>
              My Honor and Awards:
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> Speaker of The Seminar CV and Portfolio Event. — November 2021</li>
              <li><i class="bi bi-check-circle"></i> Top 10 Team at National Business Plan Competition. — November 2021</li>
              <li><i class="bi bi-check-circle"></i> Speaker at Campus Socialization. — February 2021</li>
              <li><i class="bi bi-check-circle"></i> Special Participant Social Media Content Writing Narabahasa Online Class. — August 2021</li>
              <li><i class="bi bi-check-circle"></i> Finalist of the Computer Network Competition. — November 2018</li>
            </ul> -->
        
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container">

        <div class="row">

          <div class="col-lg-4" data-aos="fade-up">
            <div class="box">
              <span>01</span>
              <h4>Machine Learning</h4>
              <p>I am passionate about building excellent software that improves the lives of those around me using Machine Learning.</p>
              <br>
              <p style="font-size: 14px">Python library that I used:</p> 
              <p style="font-size: 13px">Numpy, Pandas, Matplotlib, Seaborn, Scikit-learn, </p> 
              <br>
              <p style="font-size: 14px">Skills:</p> 
              <p style="font-size: 13px">Data Visualization, Statistical Modeling, Clustering & Classification, Model Deployment</p> 
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="150">
            <div class="box">
              <span>02</span>
              <h4>Back-End Development</h4>
              <p>I like to create the whole system from scratch and make sure the system works.</p> 
              <br>
              <p style="font-size: 14px">Language that I used:</p> 
              <p style="font-size: 13px">HTML, CSS, Python (Django), Java</p> 
              <br>
              <p style="font-size: 14px">Dev Tools:</p> 
              <p style="font-size: 13px">Bootstrap, GitHub, Gitlab, Postman, Terminal</p> 
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="box">
              <span>03</span>
              <h4>Teaching Assistant</h4>
              <p>I genuinely care about people and love helping my junior work on their task.</p> <br>
              <p style="font-size: 14px">Subject that I handle:</p> 
              <p style="font-size: 13px">• Statistics and Probability (Feb 2022 - Present)</p>
              <p style="font-size: 13px">• Programming Foundations with Java (Jan 2022 - Present)</p>
              <p style="font-size: 13px">• Calculus 1 (Feb 2021 - Dec 2021)</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <!-- <div class="container" data-aos="zoom-in">

        <div class="row d-flex align-items-center">

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-1.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-2.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-3.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-4.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-5.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6">
            <img src="{% static 'assets/img/clients/client-6.png' %}" class="img-fluid" alt="">
          </div>

        </div>

      </div> -->
    </section><!-- End Clients Section -->

    <!-- ======= Services Section ======= -->
    <!-- <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <span>Services</span>
          <h2>Services</h2>
          <p>Sit sint consectetur velit quisquam cupiditate impedit suscipit alias</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Lorem Ipsum</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="150">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">Sed ut perspiciatis</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">Magni Dolores</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="450">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4><a href="">Nemo Enim</a></h4>
              <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-slideshow"></i></div>
              <h4><a href="">Dele MLo</a></h4>
              <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="750">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-arch"></i></div>
              <h4><a href="">Divera don</a></h4>
              <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <section id="clients" class="clients"></section> 

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title">
          <span>Portfolio</span>
          <h2>Portfolio</h2>
          <p>Here are a few projects I've worked on recently. Want to see more? <a href="mailto:mikael.alvian.rizky@gmail.com">Email me.</a></p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">App</li>
              <li data-filter=".filter-ML">ML</li>
              <li data-filter=".filter-web">Web</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="150">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <img src="{% static 'assets/img/portfolio/ProjectChannel_app.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Project Channel (App Version)</h4>
              <p>App</p>
              <a href="{% static 'assets/img/portfolio/ProjectChannel_app.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Project Channel (App Version)"><i class="bx bx-plus"></i></a>
              <a href="{% url 'home:project_details' 1 %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              <p style="font-size: 12px">
                This project was made to fulfil the final assignment given by my lecturer in the third semester.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'assets/img/portfolio/ProjectChannel_new.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Project Channel</h4>
              <p>Web</p>
              <a href="{% static 'assets/img/portfolio/ProjectChannel_new.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="{% url 'home:project_details' 2 %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              <p style="font-size: 12px">
                This project was made to fulfil an assignment as a substitute for the exam given by my lecturer in the third semester.
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <img src="{% static 'assets/img/portfolio/ToDo.png' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>ToDo List</h4>
              <p>Web</p>
              <a href="{% static 'assets/img/portfolio/ToDo.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="{% url 'home:project_details' 3 %}" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
              <p style="font-size: 12px">
                Project to improves the productivity 
              </p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-ML">
            <img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>ML 1</h4>
              <p>ML</p>
              <a href="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox preview-link" title="ML 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->
    
    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Interested in working together?</h3>
          <p>We should queue up a chat. I'll buy the coffee.</p>
          <a class="cta-btn" href="https://wa.me/6285157555822">Let's Talk!</a>
        </div>

      </div>
    </section><!-- End Cta Section -->
    
    <section id="clients" class="clients"></section>

  </main><!-- End #main -->
  {% endblock %}

